---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# Narrow Digital Marketing
# Allow everything. Add Disallow lines below if you ever add private pages.

User-agent: *
Allow: /

Sitemap: {{ site.url }}/sitemap.xml
